{% extends "layout.html" %}

{% block body %}
<table class="table table-striped">
	<tr>
		<th scope="col">Toiminto</th>
		<th scope="col">Sisäänkirjaus</th>
		<th scope="col">Uloskirjaus</th>
		<th scope="col">Kertymä</th>
		<th scope="col">Projekti</th>
	</tr>

	{% for kirjaus in kirjauslista %}
	<tr>
		<td>
                        {% if kirjaus.uloskirjaus is none %}
                        <form method="POST" action="{{ url_for('kirjaus_uloskirjaus', kirjaus_id=kirjaus.id) }}">
                                <input type="submit" class="btn btn-danger" value="Kirjaa ulos!" />
                        </form>
			{% else %}
			<form method="POST" action="{{ url_for('kirjaus_poista', kirjaus_id=kirjaus.id) }}">
				<input type="submit" class="btn btn-warning" value="Poista" />
			</form>
                        {% endif %}
                </td>
		<td>{{kirjaus.sisaankirjaus}}</td>
		<td>{{kirjaus.uloskirjaus}}</td>
		<td>{{kirjaus.kertyma}} min</td>
		<td>{{projekti}}</td>
	</tr>
	{% endfor %}
	<div>Liukumasaldo: {{saldo}} min</div>

	{%if asiakas is defined and asiakas %}
	<p>Yhteenveto tehdyistä tunneista projektissa: {{ asiakas[0].projekti }}</p>
	<ul>
		{% for user in asiakas %}
		<li>
			{{user.name}}: {{user.tunnit}}
		</li>
		{% endfor %}
	</ul>
	{% endif %}
</table>
{% endblock %}
