{% extends "layout.html" %}

{% block body %}
<table>
	<tr>
		<th>&nbsp;</th>
		<th>Sisäänkirjaus</th>
		<th>Uloskirjaus</th>
	</tr>

	{% for kirjaus in kirjauslista %}
	<tr>
		<td>
                        {% if kirjaus.uloskirjaus is none %}
                        <form method="POST" action="{{ url_for('kirjaus_uloskirjaus', kirjaus_id=kirjaus.id) }}">
                                <input type="submit" value="Kirjaa ulos!" />
                        </form>
			{% else %}
			<form method="POST" action="{{ url_for('kirjaus_poista', kirjaus_id=kirjaus.id) }}">
				<input type="submit" value="Poista" />
			</form>
                        {% endif %}
                </td>
		<td>{{kirjaus.sisaankirjaus}}</td>
		<td>{{kirjaus.uloskirjaus}}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
