{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('project_create') }}">
	<table>
	<tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>

      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
      </tr>
      <tr>
	<td>
		{{form.customer.label}}
	</td>
	<td>
	  {{ form.customer }}
	</td>

      <td>
        <ul>
          {% for error in form.customer.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
      </tr>
      <tr>
	<td>
	  {{ form.vakiotyoaika.label }}
	</td>
	<td>
	  {{ form.vakiotyoaika }}
	</td>

      <td>
        <ul>
          {% for error in form.vakiotyoaika.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
      </tr>
      <tr>
	<td colspan="2">
	  <input type="submit" value="Lisää projekti" />
	</td>
      </tr>
	</table>
</form>
<br />
<br />
<table>
	<th>Poista</th>
	<th>Projektin nimi</th>
	<th>Asiakas</th>
	<th>Työaika</th>
	<th>Muokkaa</th>
	{% for projekti in projektit %}
	
	<tr>
		<td>
                   <form method="POST" action="{{ url_for('projekti_poista', project_id=projekti.id) }}">
		   <input type="submit" class="btn btn-danger" value="Poista" />
		   </form>
                </td>
		<td>{{projekti.name}}</td>
		<td>{{projekti.customer}}</td>
		<td>{{projekti.vakiotyoaika}} min</td>
		<td><a href="{{ url_for('project_update', project_id=projekti.id) }} "><button class="btn btn-warning">Edit</button></a></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
