{% extends "layout.html" %}

{% block body %}
{{error}}

<form method="POST" action="{{ url_for('auth_create_user') }}">
	<table>
		<tr>
			<td>{{ form.name.label }}</td>
			<td>{{ form.name }}</td>
			<td>
				<ul>
					{% for error in form.name.errors %}
					<li>{{error}}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<td>{{ form.username.label }}</td>
			<td>{{ form.username }}</td>

			<td>
				<ul>
					{% for error in form.username.errors %}
					<li>{{error}}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<td>{{ form.password.label }}</td>
			<td>{{ form.password }}</td>

			<td>
				<ul>
					{% for error in form.password.errors %}
					<li>{{error}}</li>

					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<td> {{ form.isadmin.label }}</td>
			<td> {{ form.isadmin }} </td>

		</tr>
		<tr>
			<td> {{ form.paaprojekti.label }} </td>
			<td> {{ form.paaprojekti }} </td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="Rekisteröi" />
			</td>
		</tr>
	</table>
</form>
<br />
<br />
<table>
	<th>Poista</th>
	<th>Nimi</th>
	<th>Tunnus</th>
	<th>Muokkaa</th>
	{% for kayttaja in kayttajat %}
	
	<tr>
		<td>
                   <form method="POST" action="{{ url_for('kayttaja_poista', account_id=kayttaja.id) }}">
		   <input type="submit" class="btn btn-danger" value="Poista" />
		   </form>
                </td>
		<td>{{kayttaja.name}}</td>
		<td>{{kayttaja.username}}</td>
		<td><a href="{{ url_for('kayttaja_update', account_id=kayttaja.id) }} "><button class="btn btn-warning">Edit</button></a></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
