{% extends "layout.html" %}

{% block body %}
{{ error }}
<div style="float:left">
<form method="POST" action="{{ url_for('userproject_create') }}">
	<table>
	<tr>
	<td>
	  {{ form.project.label }}
	</td>
	<td>
	  {{ form.project }}
	</td>
      </tr>
      <tr>
	      <td> {{ form.users.label }} </td>
	      <td> {{ form.users }} </td>
	</tr>
	{% if current_user.role == "ADMIN" %}
	<tr>
		<td> {{ form.asiakas.label }} </td>
		<td> {{ form.asiakas }} </td>
	</tr>
	{% endif %}
      <tr>
	<tr>
		<td> {{ form.paaprojekti.label }} </td>
		<td> {{ form.paaprojekti }} </td>
	</tr>
	<td colspan="2">
	{% if current_user.role == "ADMIN" %}
	  <input type="submit" name="action" value="Liitä" />
	{% endif %}
	  <input type="submit" name="action" value="Päivitä" />
	</td>
      </tr>
	</table>
</form>
</div>

{%if raportti is defined and raportti %}
<div style="float:right">
	<p><b>Työntekijöiden jakauma</b></p>
	{% for item in raportti %}
	{{ item.projekti }}: {{ item.maara }}<br />
	{% endfor %}
</div>
{% endif %}


<table class="table table-striped" style="padding-top: 15px">
	<th scope="col">Nimi</th>
	<th scope="col">Tunnus</th>
	<th scope="col">Projekti</th>
	<th scope="col">Pääprojekti</th>
	{% if current_user.role == "ADMIN" %}
	<th scope="col">On asiakas</th>
	{% endif %}
	
	{% for kayttaja in kayttajat %}
	
	<tr>
		<td>{{kayttaja.name}}</td>
		<td>{{kayttaja.username}}</td>
		<td>{{kayttaja.projekti}}</td>
		<td>{% if kayttaja.paaprojekti == 1 %}Kyllä{% else %}Ei{% endif %}</td>
		{%if current_user.role == "ADMIN" %}
		<td>{% if kayttaja.onasiakas == 1 %}Kyllä{% else %}Ei{% endif %}</td>
		{% endif %}
	</tr>

	{% if current_user.role != "ADMIN" and kayttaja.onasiakas == 1 %}
		<div>Olet merkittynä asiakkaaksi projektiin: {{kayttaja.projekti}}</div>
	{% endif %}
	{% endfor %}
</table>
{% endblock %}
