{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('userproject_create') }}">
	<table>
	<tr>
	<td>
	  {{ form.project.label }}
	</td>
	<td>
	  {{ form.project }}
	</td>
      </tr>
      <tr>
	      <td> {{ form.users.label }} </td>
	      <td> {{ form.users }} </td>
	</tr>
	{% if current_user.role == "ADMIN" %}
	<tr>
		<td> {{ form.asiakas.label }} </td>
		<td> {{ form.asiakas }} </td>
	</tr>
	{% endif %}
      <tr>
	<tr>
		<td> {{ form.paaprojekti.label }} </td>
		<td> {{ form.paaprojekti }} </td>
	</tr>
	<td colspan="2">
	{% if current_user.role == "ADMIN" %}
	  <input type="submit" name="action" value="Liitä" />
	{% endif %}
	  <input type="submit" name="action" value="Päivitä" />
	</td>
      </tr>
	</table>
</form>
<br />
<br />
<table class="table table-striped">
	<th scope="col">Nimi</th>
	<th scope="col">Tunnus</th>
	<th scope="col">Projekti</th>
	{% for kayttaja in kayttajat %}
	
	<tr>
		<td>{{kayttaja.name}}</td>
		<td>{{kayttaja.username}}</td>
		<td>{{kayttaja.projekti}}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
